body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 120, 47);
  padding: 9px;
}
nav input{

  width: 250px;
  text-decoration: none;
  padding: 9px;
  font-size: 18px;
  border: none;
}
.searchBar{
  display: flex;
  align-items: center;
  gap: 11px;
}
nav button{

  width: 70px;
  height: 38px;
  background-color: rgb(255, 17, 0);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
nav ul{
  display: flex;
  gap: 11px
}
.head{
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}
.categoryBtn{
  display: flex;
  justify-content: space-around;
  padding-left: 550px;
  padding-right: 550px;
 

  gap:5px;

}
.bbtn{
  background-color: rgb(79, 68, 68);
  height: 40px;
  border-radius: 20px;
  color: aliceblue;
  font-size: large;
  width: 130px;
}
.cardContainer{
 
}
.card{
  width: 320px;
  box-shadow: 0px 4px 4px 4px rgb(225,225,225);
  background-color: azure;
  border-radius: 3px;
  margin-top: 21px;
  border: 1px solid rgb(236,236,236);
}
.card .title:hover{
  border-bottom: 1px solid black;
  cursor: pointer;
}
.card .title{
  font-weight: 1000;
}
.card .content{
  padding: 9px;
}
.card button{
  background-color: rgb(7, 78, 101);
  color: azure;
  border-radius: 3px;
  width:90px;
  height: 30px;
  border-color: white;
}
.card img{
  width: 100%;
  height: 180px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.cardContainer{

   display: flex;
   justify-content: center;
   gap:41px;
   flex-wrap: wrap;
}

